<% layout('layouts/boilerplate') %>
    <h1 class="white title-font">スタジオ一覧</h1>
    <% for(let dancestudio of danceStudios){ %>
        <div class="card card-dancestudio mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(dancestudio.images && dancestudio.images.length){ %>
                        <img class="img-fluid" src="<%= dancestudio.images[0].url %>" alt="">
                        <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= dancestudio.name %>
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= dancestudio.location %>
                            </small>
                        </p>
                        <p class="card-text">
                            <%= dancestudio.description %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <% } %>