.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-brand {
    font-weight: 900;
    color: rgb(37, 160, 160);
}

nav {
    background-color: #646881;
}

.nav-link:hover {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

body {
    background-image: url('/images/dance-studio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-content {
    flex: 1;
}

footer {
    background-color: #646881;
}

.mylogo {
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
}

button {
    transition: box-shadow 0.3s ease-in-out;
}

button:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* home */
.vh-80 {
    height: 80vh;
}

#card-home {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

#btn-home {
    background-color: #646881;
}

.input-blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.input-blur:focus {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.input-text {
    color: white;
}

/* dance studio */
.white {
    color: white;
}

.title-font {
    font-family: "Rampart One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7em;
    border-bottom: 2px solid #7d7846;
    /* background: linear-gradient(transparent 95%, #7d7846 60%); */
    display: inline-block;
    padding-bottom: 7px;
    transition: border-bottom-width 0.1s ease-in-out, opacity 0.1s ease-in-out;
    margin-bottom: 10px;
}

.title-font:hover {
    border-bottom-width: 0px;
    opacity: 0.7;
}

.card-dancestudio {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
}